<h1><%= @user.username %>'s Profile</h1>

<h2>Posts: </h2>
<% @posts.each do |post| %>
  <div>
    <h3><%= post.title %></h3>
    <div> <%= link_to image_tag(post.image), post_path(post) %></div>
  </div>
<% end %>

<% if @posts.empty? %>
  <p>This user has not posted anything yet.</p>
<% end %>