<h1>Art Gallery</h1>

<%= link_to 'Upload New post', new_post_path %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p><%= post.body %></p>
      <%= image_tag post.image %>
    </li>
  <% end %>
</ul>